@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.bg{
    background-image: url(../images/header-image.jpg);
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size:cover 
}
.nav{
    display: flex;
    align-items: center;
    padding: 20px 0px;  
    justify-content: space-between;
    
}
.burger-icon{
    font-size: 30px;
    color: white;
    text-align: center;
    display: none;
}
.nav-li {
    
    display: inline-block;
    margin: 20px 30px;
}
.nav-words {
    color: white;
    font-family: 'Oswald', sans-serif;
    position: relative;
    transition: 0.5s;
}
.active {
    color: #5863F8;
}
/* .nav-words:hover {
    color: #5863F8;
} */
.nav-words::before {
    content: ' ';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color:#5863F8;
    margin-top: 20px;
    transition: 0.5s;
}
.nav-words:hover::before{
    width: 100%;
    color: #5863F8;
}
.zetta {
    margin-left: 139px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
.aboutus {
    max-width: 195px;
    width: 100%;
    margin-left: 139px;
    font-size: 44px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 900;  
   
}
.xazi {
    width: 1px;
    height: 19px;
    background-color: white;
    margin-left: 16px;
}
.home-about {
    display: flex;
    margin-top: 14px;
    cursor: pointer;
    
}
.home {
    font-size: 14px;
    font-weight: 300;
}
.us {
    font-size: 14px;
    font-weight: 300;
    margin-left: 16px;
    
}
.sec1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.texts {
    max-width: 444px;
    width: 100%;
}
.text-h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5863F8;
    font-weight: 700;
}
.text-h1 {
    font-size: 42px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    line-height: 56px;
}
.h1 {
    display: block;
}
.p1 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    
    line-height: 25px;
}
.p2 {
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    margin-top: 5px;
}
.readmore {
    max-width: 184px;
    width: 100%;
    height: 50px;
    background-color: #5863F8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-top: 16px;
}
.suratebi {
    max-width: 536px;
    width: 100%;
    margin-top: 90px;
}
.pirveli {
    max-width: 260px;
    width: 100%;
}
.meore {
    max-width: 260px;
    width: 100%;
    margin-left: 11px;
}
.mesame{
    max-width: 536px;
    width: 100%;
    margin-top: 16px;
}
.surati {
    transition: 0.5s;
}
.surati:hover {
    transform: scale(1.2);    
}
.bg2 {
    background-image: url(../images/Group\ 13.png);
    width: 100%;
    height: 612px;
    background-repeat: no-repeat;
    background-size:cover; 
    position: relative;
    margin-top: 90px;
}
.bg2-sataurebi {
    position: absolute;
    margin-top: 90px;
    margin-left: 139px;
    font-family: 'Poppins', sans-serif;
}
.bg2-h3 {
    font-size: 14px;
    font-weight: bold;
    color: #5863F8 ;
}
.bg2-h2 {
    font-size: 42px;
    font-weight: 900;
    line-height: 56px;
    max-width: 376px;
    width: 100%;
    color: #fff;
}
.blockebi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.block {
    max-width: 260px;
    width: 100%;
    height: 260px;
    background-color: #fff;
    margin-left: 16px;
    margin-top: 262px;
    justify-content: center;
    text-align: center;
    
}
.hotel-circle {
    background-color: #5863F8;
    border-radius: 90%;
    width: 59px;
    height: 58px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px auto 15px auto;
}
.block-h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    line-height: 27px;
    max-width: 188px;
    width: 100%;
}
.block-p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    line-height: 21px;
    max-width: 221px;
    width: 100%;
}


/* რესპონსივი */
@media  (max-width: 1120px) {
    .bg2 {
        height: 100%;
    }
    .block:nth-child(4) {
        margin-top: 10px;
    }
    .bg {
        background-position: right;
    }
  }
  @media  (max-width: 1000px) {
        .sec1 {
            flex-direction: column;
            margin-top: 10px;
        }
        .readmore {
            margin: auto;
            margin-top: 5px;
        }
        .texts {
            text-align: center;
        }
        .suratebi {
            margin-top: 20px;
        }
        .bg {
            background-position: right;
        }
        .nav {
            flex-direction: column;
        }
        .zetta {
            margin: auto;
        }
  } 
  @media  (max-width: 844px) {
    .block:nth-child(3) {
        margin-top: 10px;  
    }   
  }
  @media (max-width:700px) {
      .nav-li {
          display: none;
      }
      .zetta {
          margin-left: 25px;
      }
      .aboutus {
          margin-left: 25px;
          margin-top: 50px;
      }
      .bg {
          background-position: center;
      }
      .nav {
          flex-direction: row;
      }
      .burger-icon {
          display: flex;
          margin-right: 20px; 
      }
  }
  @media (max-width:551px) {
      .block:nth-child(2) {
          margin-top: 10px;
      }
      .bg2-sataurebi {
          margin-left: 10px;
      }
      .surati:hover {
          transform: scale(1);
      }
      .meore {
        margin-left: 130px;
    }
  }
  @media (max-width:407px) {
      .meore {
          margin: auto;
      }
      .bg2-h2 {
          font-size: 30px;
      }
      .blockebi {
          margin-right: 20px;
      }  
  }
  /* HOME PAGE */
  .home-sec {
      max-width: 1088px;
      width: 100%;
      margin: auto;
      margin-top: 50px;
  }
.map {
   max-width: 1088px;
   width: 100%;   
}

.home-sec2{
    max-width: 1088px;
    width: 100%;
    height: 290px;
    margin: 0 auto;
    margin-top: 50px;
    display:flex ; 
    justify-content: space-between;
   
}
.marcxena {
    max-width: 720px;
    width: 100%;
    height: 288px;
}
.text-box {
    max-width: 720px;
    width: 100%;
    height: 288px;
    outline: none;
    font-size: 15px;
    resize: none;
    border-color: #E8E8E8;    
}
.marjvena-block{
    max-width: 352px;
    width: 100%;
}
.box {
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    border-color: #E8E8E8;  
    outline: none;
}
.send {
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-color: #5863F8;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.plane {
    margin-left: 12px;
}
.under-contact {
    max-width: 1088px;
    width: 100%;
    
    margin: 0 auto;
    
    margin-top: 50px;
}
.samive {
    display: flex;
}
.circle {
    background-color: #5863F8;
    border-radius: 90%;
    width: 59px;
    height: 58px;
    justify-content: center;
    align-items: center;
    display: flex; 
    margin-bottom: 15px;  
}
.h2-email {
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.email {
    max-width:362px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.email-span {
    display: block;
    margin-top: 5px;
    line-height: 21px;
}
.p-email {
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.texts2 {
    max-width: 595px;
    width: 100%;
    height: 115px;
}
.sami-surati {
    max-width:1366px ;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo {
    max-width:352px;
    width: 100%;
}
.contact-footer {
    width: 100%;
    height: 395px;
    background-color: black;
}
.zeta-link {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.zeta {
    max-width: 260px;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
     padding-top: 90px;
}
.h2-zeta {
    margin-bottom: 20px;
    font-size: 20px;
}
.icons {
    margin-top: 20px;
}
.twitter {
    margin-left: 10px;
    margin-right: 10px;
}
.chamonatvali {
    max-width: 575px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.links {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    cursor: pointer;
}
.link {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 90px;
    color: white;
}
.blog {
    color: #5863F8;
    font-size: 14px;
    margin-bottom: 10px;
}
.info {
    color: white;
    margin-bottom: 20px;
}
.copy {
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif; 
    margin-top: 54px;
}
.marian {
    color: #5863F8;
    cursor: pointer;
}
.www {
    color: #5863F8;
    cursor: pointer;
}